# Telegram Configuration
TELEGRAM_BOT_TOKEN=8281719472:AAG5Uu4l9PtuuT3AJ6AbKq_ZmfW_hAwnMMY
TELEGRAM_CHAT_ID=8264841444
# Database Configuration
DATABASE_URL=jdbc:postgresql://postgres:5432/ticketero
DATABASE_USERNAME=dev
DATABASE_PASSWORD=dev123

# RabbitMQ Configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=dev
RABBITMQ_PASSWORD=dev123